header {
  height: 50px;
  background-color: #202020;
  color: #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
}

header a {
  color: #dadada;
  margin: 10px;
}

section {
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
}

section > div {
  width: 500px;
  margin: auto;
}

label {
  width: 100px;
  display: inline-block;
}

button.remove {
  float: right;
}
